<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% block content %}
        {% for sensor in sensor_list %}
            {{ sensor.name }}
            {% with reading=sensor.sensorreading_set.first %}

                <p><a href="{% url 'temperature_chart' sensor.name %}">Temperature</a>: {{ reading.temperature }} C </p>
                <p><a href="{% url 'humidity_chart' sensor.name %}">Humidity</a>: {{ reading.humidity }} %</p>
                <p><a href="{% url 'carbon_dioxide_chart' sensor.name %}">Carbon dioxide</a>: {{ reading.carbon_dioxide }}ppm</p>
                <p><a href="{% url 'voc_index_chart' sensor.name %}">VOC index</a>: {{ reading.voc_index }}</p>
                <p><a href="{% url 'nox_index_chart' sensor.name %}">NOx index</a>: {{ reading.nox_index }}</p>

            {% endwith %}
        {% endfor %}
    {% endblock content %}
</body>
</html>